@import "../theme/var.scss";

.editor {
  font-size: 18px;
  caret-color: $primary;
  box-sizing: border-box;
  & * {
    box-sizing: border-box;
  }
  font-family:
    "Lato",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  min-height: 200px;
  outline: none;

  & > p {
    line-height: 1.74;
  }

  p {
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
    margin: auto;
  }

  a {
    word-break: break-all;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }

  .img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 800px;
  }

  .quote {
    color: #757677;
    margin: 8px 16px;
    &::before {
      content: "|";
      font-weight: 900;
      margin-right: 6px;
    }
  }

  .block {
    margin: 16px 0;
    display: flex;
    justify-content: center;
    &--active > * {
      outline: 2px solid $primary;
    }
  }

  :global {
    .roll-notes {
      max-width: calc(100vw - 100px);
      @media (min-width: 768px) {
        & {
          max-width: 760px;
        }
      }
    }
  }
}
